<link rel='stylesheet' href='/stylesheets/stylll.css' />


<div class="userProfilWrapper">
    <div class="userProfilCover">
        <img src="/images/plage.jpg">
    </div>
    <div class="userProfilId-section">
        <div class="userProfilCircle">
            <img src="/images/<%=user.photoProfil%>" class="userProfilLogo">
        </div>
        <div class="userProfilTitle">
            <%=user.username%>
        </div>
        <div class="userProfilGrid">

            <div class="userProfilGridGallery" onclick="window.location.href='/userPhotos'">
                <% if(typeof userPhotos !=='undefined' && userPhotos.length> 0 ) { %>
                    <% userPhotos.forEach(function(userPhoto) { %>
                        <div class="userProfilGridGallery-item"><img src="/uploads/<%=userPhoto.img%>" width="75px"
                                height="75px"></div>
                        <% }) %>

                            <% } else { %>
                                <p>Aucunes photos trouvées.</p>
                                <% } %>

            </div>
            <div class="userProfilGrilleInfo">
                <p>
                    <%=user.username%>
                </p>
                <p>Age: <%=user.age%> ans</p>
                <p>Ville: <%=user.ville%>
                </p>
                <p>Situation: <%=user.situation%>
                </p>
            </div>
            <div class="userProfilGrillePost">
                <form action="/userProfil" enctype="multipart/form-data" method="post">
                    <label for="inp" class="userProfilInput">
                        <input type="text" name="desc" id="inp" placeholder="&nbsp;">

                        <span class="label">Publier</span>
                        <span class="focus-bg"></span>
                    </label>
                    <div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>

                    </div>
                </form>
            </div>
            <div class="userProfilGrillePublication">

                <% if(typeof userPost !=='undefined' && userPost.length> 0 ) { %>
                    <% userPost.forEach(function(userPost) { %>

                        <div class="userProfilContainer">

                            <img src="/images/<%=user.photoProfil%>" class="userProfilLogoPublication" width="30px"
                                height="30px">
                            <div class="userProfilPseudo">
                                <%=user.username%>
                            </div>
                            <div class="userProfilContenu">
                                <br>
                                <%=userPost.desc%></br>
                            </div>

                            <div onclick="incrementClick()" class="userProfilLike"><a><i class="fa-solid fa-thumbs-up">
                                        <h3 id="counter-label">0</h3>
                                    </i></div>
                            <div class="userProfilComment">
                                <a href=""><i class="fa-solid fa-comment-dots">
                                    </i></a>
                            </div>


                        </div>
                        <% }) %>

                            <% } else { %>
                                <p>Aucuns post trouvés.</p>
                                <% } %>

            </div>

        </div>
    </div>

    <script>

        var counterVal = 0;

        function incrementClick() {
            updateDisplay(++counterVal);
        }

        function updateDisplay(val) {
            document.getElementById("counter-label").innerHTML = val;
        }

    </script>